
{% extends "base.html.twig" %}

{% block title %}first template{% endblock %}



 {% block section %} my section{% endblock %}
{% block body %}


{%  if title%}
 <h1> {{ dump(title)}}  </h1> 

{% else %}
<h2>title not defined</h2>

{% endif %}

{% endblock %}


    

